*{
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  display: block;
  width: 100%;
  padding-inline: var(--padding);
}

.active{
  height: fit-content;
  width: 100%;
  padding: var(--padding);
}

.display{
  max-height: 0;
  display: none;
}

#submit:hover{
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg)
  }
}

@keyframes spin2 {
  from {
    transform: rotate(20deg);
  } to {
    transform: rotate(380deg)
  }
}




.spinner {
  animation: spin 2s linear 0ms infinite;
}

.spinner2 {
  animation: spin2 10s linear 0ms infinite;
}

.spinner3 {
  animation: spin 12s linear 0ms infinite;
}

.menu-active{
  height: auto; width: max-content;
  transition: height 0.25s linear;
  position: absolute;
  background-color: #f5f5f5;
  padding: var(--padding) calc(2*var(--padding)) 0 calc(2*var(--padding));
  display: flex; flex-direction: column;
  border: 1px solid #f5f5f5;
  right: calc(100% + var(--padding));
  top: var(--padding);
  border: 1px solid #000;
}

.menu-active a{
  width: 100%;
  color: #000;
  display: block;
  margin-bottom: var(--padding);
}

.menu-hidden {
  display: none;
  height: 0;
}

.typewriter span{
  font-family: inherit;
}

#start {
  background-color: #000;
  color: #f5f5f5;
}

#start:hover {
  background-color: #f5f5f5;
  color: #000;
}


#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  position: absolute;
}

#preloader svg{
  fill: #f5f5f5;
  height: 10%;
  aspect-ratio: 1 / 1;
}

.card-grid {
  display: grid; width: 100%; grid-template-columns: repeat(auto-fit, 286px);
  justify-content: center;
  gap: 1em;
}

.card-div {
  height: 385px; width: 286px;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;

  border-radius: 16px; background-color: #242628;
  border: 1px solid #000;

  color: #f5f5f5;
  box-shadow: 2px 0 0 #000, 4px 0 0 #000, 6px 0 0 #000;
}

.card-div:hover{
  transition: all 0.25s linear;
  transform: scale(1.025);
}

.card-div h3 {
  font-size: 1.5rem;
  padding-inline: var(--padding);
  text-align: center;

  width: 100%;
  text-shadow: 2px 0 0 #000, 4px 0 0 #000, 6px 0 0 #000;

  padding: var(--padding);

  border-radius: 24px;
}



.card-img{
  height:160px; aspect-ratio: 1/1; border: 1px solid #f5f5f5; border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-description {
  width: 100%;
  margin-top: var(--padding);
}

.card-description p{
  font-size: 0.85rem; line-height: 1.05em;
  text-align: center;
}


.card-link {
  width: 100%;
  display: flex; align-items: center; justify-content: center;
}

.card-link p {
  color: blue; font-size: 0.85rem; text-align: center; margin: var(--padding);
}

.card-link p::after {
  content: ">>"; display: inline;
  font-size: 0.9rem;
  color: blue;
  margin-left: calc(var(--padding)/4);
}

.card-link p:hover {
  font-weight: 700;
}